In [1]:
# Basic Python

In [2]:
'''In Order to Print Something'''
'Hello World'

'Hello World'

In [3]:
'Hello World' #In order to run, press shift+enter/Run option at the top

'Hello World'

In [4]:
'''In order to run all the programs at a time, go to Kernel option at the top and choose Restart and Run All'''

'In order to run all the programs at a time, go to Kernel option at the top and choose Restart and Run All'

# Output Function

In [5]:
print('Hello World')

Hello World

In [6]:
print("Data Science")

Data Science

In [7]:
print('Hello World','Welcome to 60 days of python')

Hello World Welcome to 60 days of python

In [8]:
'''Inside print function, seperation betwn 2 values is set as space and end is set as \n by default, We can change that'''

print('Hello World','Welcome to 60 days of python', sep = ' & ', end = '*') #shift+tab

Hello World & Welcome to 60 days of python*

# Variables In Python

In [9]:
Var = 'Hello World'
print(Var)

Hello World

In [10]:
Var = 'Hello World'
print('Var')

Var

In [11]:
Var = 'Hello World'
print('My sentence is '+ Var)

My sentence is Hello World

In [12]:
'''In order to check the location of any data inside of a memory, use id()'''
id(Var)

1779599505520

In [13]:
'''How much memory a data takes '''

import sys
sys.getsizeof(Var)

60

In [14]:
'''A variable name must start with a character/underscore
A variable name cannot start with a number
It contains only alpha-numeric characters like (A-Z),(0-9)_
X,x _x are three different variables which is called case-sensitive'''

'A variable name must start with a character/underscore\nA variable name cannot start with a number\nIt contains only alpha-numeric characters like (A-Z),(0-9)_\nX,x _x are three different variables which is called case-sensitive'

In [15]:
x = 100

In [16]:
x

100

In [17]:
y = 100

In [18]:
y

100

In [19]:
'''Two different variables but same address'''
id(x) # x and y have same address

140722398180240

In [20]:
id(y)

140722398180240

In [21]:
'''There can be exception if it exceeds three digits'''

x = 1000
y = 1000
id(x)

1779599317808

In [22]:
id(y)

1779599317872

In [23]:
name = 'Princes Diana'
name

'Princes Diana'

In [25]:
Var_2 = 100

In [26]:
10-2

8

In [27]:
Var_2 = 100

# Multiple Variables

In [28]:
x,y,z = 10,100,1000
x

10

In [29]:
y

100

In [30]:
z

1000

In [32]:
x,y,z = 10,100,104 #two sides of ratio must be same

In [ ]:
x,y,z = 10,1000,0

In [33]:
x,y,z = 10,1000,'Diana'

In [36]:
z

'Diana'

# Case-Sensitive

In [37]:
Var_2

100

In [38]:
Var_2

100

In [39]:
X = 1
x = 2

In [40]:
x

2

In [41]:
X

1

In [42]:
#Multiple Word Variable Name

varsity_id = 1000  # snake case variable

In [43]:
varsity_id

1000

# Local vs Global

In [44]:
x = 1000 #global variable

def func1():
    print('My number is : ', x)
func1()

My number is :  1000

In [45]:
x = 1000

def func1():
    x = 500  #Local variable
    print('My number is : ', x)
func1()

My number is :  500

In [46]:
x = 1000

def func1():
    x = 500
    print('My number is :', x)
func1()
print('My number is : ',x)

My number is : 500
My number is :  1000

In [47]:
def func1():   #As x is a global variable and it was declared before in this file so there shows no error.In new file,error shows
    x = 500
    print('My number is :', x)
func1()
print('My number is : ',x)

My number is : 500
My number is :  1000

# Convert a local variable into global

In [48]:
def func1():
    global x
    x = 500
    print('My number is :',x)
func1()
print('My number is :',x)

My number is : 500
My number is : 500

# Day 03 - 60 Days of Python

In [49]:
data = 'data science is fun'
type(data)

str

In [51]:
data = input()

12

In [52]:
type(data)

str

In [53]:
data = input()

imran

In [54]:
type(data)

str

In [55]:
x = input()
y = input()

1
2

In [56]:
x+y

'12'

In [57]:
type(x)    #any type of input will be taken as integer by default

str

In [58]:
type(y)

str

In [59]:
x = int(x)
y = int(y)

In [60]:
x+y

3

In [61]:
type(x)

int

In [62]:
x = int(input("Enter your first number: "))

Enter your first number: 12

In [63]:
y = int(input("Enter your second number: "))

Enter your second number: 23

In [64]:
y = int(input("Enter your second number: "))

Enter your second number: 324

In [65]:
x+y

336

In [66]:
y = float(input('Enter your second number: '))

Enter your second number: 43

In [67]:
x+y

55.0

In [68]:
data = '60 days of python'

In [69]:
type(data)

str

In [70]:
len(data)

17

In [71]:
import sys
sys.getsizeof(data)

66

In [72]:
data.count('python')

1

In [73]:
data.count('days of')

1

In [74]:
sub = 'days of'
data.count(sub)

1

# Python String Methods

In [75]:
data = '60 days of python'
data.find('of')

8

In [76]:
data.find('y')    #find index from string

5

In [77]:
data.find('y',6,10)    #if y does not exist betwn range 6 to 10, then it will return -1

-1

In [78]:
data.find('y',6,15)

12

In [79]:
data.index('y')

5

In [80]:
data.index('y',6,10)     #index and find functions have the same purpose but index function will return error if it didn't find.

ValueError: substring not found

In [81]:
data.lower()     #convert all characters into lower case

'60 days of python'

In [82]:
data.upper()

'60 DAYS OF PYTHON'

In [83]:
data.casefold()     #convert all characters into lower case

'60 days of python'

In [84]:
x = 'data SCIENCE is Fun'

In [85]:
x.capitalize()     #convert only first char into upper case

'Data science is fun'

In [86]:
x.swapcase() # convert the previous capital letter into small and vice-versa

'DATA science IS fUN'

In [87]:
x.title()    #convert the first letter of every word into upper case

'Data Science Is Fun'

In [88]:
x.islower() #return value like false/true

False

In [89]:
x.isupper()

False

In [90]:
x.isdigit()   #to check if there is any digit

False

In [91]:
x.encode()

b'data SCIENCE is Fun'

In [92]:
type(x.encode())

bytes

In [93]:
x

'data SCIENCE is Fun'

In [94]:
x.split()     # split every word of a string and will show like a list

['data', 'SCIENCE', 'is', 'Fun']

In [95]:
x.split()[0]

'data'

In [96]:
x.split()[4]

IndexError: list index out of range

In [97]:
x.center(100)      #the string stored in x variable will show in the middle of 100 index

'                                        data SCIENCE is Fun                                         '

In [98]:
x.replace('data','neuro')    #shift+tab    #variable.replace('old','new')

'neuro SCIENCE is Fun'

In [99]:
x = 10
y = 15
z = x*y

In [100]:
z

150

In [101]:
print('I have',z,'taka')

I have 150 taka

In [102]:
print('I have {} taka'.format(z))

I have 150 taka

In [103]:
print('I have {} taka'.format(z))

I have 150 taka

# Python Data Type

In [104]:
#Numeric Data Types - Integers, float, complex(5+1j)
#Boolean Data Types - True/false(must be written in capital letters like 'True'/'False' otherwise will take it as variable)
#Sequence data types - Lists,Tuples,Range,Arrays,Strings
#SET types - frozenset,set
#Mapping types - Dictionary

In [105]:
# Numeric data

x = 10 #integer
y = 10.5 #float
z = 10 + 5j #10 is real number and 5j is imaginary

type(z)

complex

In [106]:
isinstance(z,complex)    #shift+tab    #will return value as true/false

True

In [107]:
isinstance(z,int)

False

In [108]:
isinstance(10,int)

True

In [109]:
#int to float

n = float(x)    #n=float
n

10.0

In [110]:
type(n)

float

In [111]:
n = int(n)
n

10

In [112]:
type(n)

int

In [113]:
n = complex(n)

In [114]:
n

(10+0j)

In [115]:
type(n)

complex

In [116]:
#Complex value cannot be converted

n = int(n)

TypeError: can't convert complex to int

In [117]:
n = float(n)

TypeError: can't convert complex to float

In [118]:
n = complex(input('Enter your number: '))

Enter your number:

ValueError: complex() arg is a malformed string

In [119]:
n

(10+0j)

In [120]:
type(n)

complex

# Bool

In [121]:
x = True
y = False

In [122]:
x

True

In [123]:
y

False

In [124]:
true     #smaller letter t indicates that it is a variable

NameError: name 'true' is not defined

# Sequence data

In [125]:
#Lists - represented as []

l = [1,2,3,4,True,False,[1,2],[1,3],'data',(1,2,3,4)]

In [126]:
l     #All types of values can be stored

[1, 2, 3, 4, True, False, [1, 2], [1, 3], 'data', (1, 2, 3, 4)]

In [127]:
l[0]

1

In [128]:
l[-1]

(1, 2, 3, 4)

In [129]:
l[-1][0]

1

In [130]:
l[-1][-1]

4

In [131]:
type(l)

list

In [132]:
isinstance(l,list)

True

In [133]:
#Tuples - Represented as()

In [134]:
t = (1,2,3,8,'Ai')

In [135]:
type(t)

tuple

In [136]:
t[-1]

'Ai'

In [137]:
t[0:4]     #colon means to; 0 to (4-1)

(1, 2, 3, 8)

In [138]:
#range()

x = range(10)

In [139]:
x

range(0, 10)

In [140]:
for i in x:         #1st case
    print(i, end = ' ')

0 1 2 3 4 5 6 7 8 9

In [141]:
y = range(5,50)       #2nd case

for i in y:
    print(i, end = '  ')

5  6  7  8  9  10  11  12  13  14  15  16  17  18  19  20  21  22  23  24  25  26  27  28  29  30  31  32  33  34  35  36  37  38  39  40  41  42  43  44  45  46  47  48  49

In [142]:
#2nd case

for i in range(5,50):
    print(i, end = '  ')

5  6  7  8  9  10  11  12  13  14  15  16  17  18  19  20  21  22  23  24  25  26  27  28  29  30  31  32  33  34  35  36  37  38  39  40  41  42  43  44  45  46  47  48  49

In [143]:
x = range(5,50,10)     #3rd case
for i in x:
    print(i,end = '  ')

5  15  25  35  45

In [144]:
x = range(50,5,-10)      #4th case

for i in x:
    print(i, end = '  ')

50  40  30  20  10

In [145]:
#array 
#Multiple types of values cannot be stored


import array as ar

a = ar.array([1,2,3,4])
a

TypeError: array() argument 1 must be a unicode character, not list

In [146]:
a = ar.array('i',[1,2,3,4])
a

array('i', [1, 2, 3, 4])

In [147]:
type(a)

array.array

In [148]:
a = ar.array('i',[10.5,2,3,4])

TypeError: integer argument expected, got float

In [149]:
a = ar.array('f',[1,2,3,4])
a

array('f', [1.0, 2.0, 3.0, 4.0])

In [150]:
#String

x = 'data'
type(x)

str

In [151]:
x="data"
type(x)

str

In [152]:
x = '''I 
love
data science'''

In [153]:
x

'I \nlove\ndata science'

In [154]:
type(x)

str

In [155]:
#set

s = {1,2,3,4}    #everything inside a curly bracket wull be defined as set

In [156]:
type(s)

set

In [157]:
#dictionary

dic = {
    'Versity': 'DU Bangladesh',
    'Dept': 'Psycology'    
}

In [158]:
dic

{'Versity': 'DU Bangladesh', 'Dept': 'Psycology'}

In [159]:
type(dic)

dict

In [160]:
dic.keys()

dict_keys(['Versity', 'Dept'])

In [161]:
dic.values()

dict_values(['DU Bangladesh', 'Psycology'])

In [162]:
# Data Frame (Pandas)    #Pandas is a data frame library

In [163]:
import pandas as pd             #library can be renamed

df = pd.read_csv('study mart.csv')

df.head()     #for showing full rows
df.shape     #will show output like(row,column)
df.info()

FileNotFoundError: [Errno 2] No such file or directory: 'study mart.csv'

In [ ]:
df = pd.read_csv('study-mart.csv')

In [ ]:
# Binary Types

In [ ]:
byte_arr = bytearray('ABCDEF','UTF-8')
type(byte_arr)

In [ ]:
byte_arr

In [ ]:
memoryview(byte_arr)

In [ ]:
memoryview(byte_arr)[0]

In [164]:
mv = memoryview(byte_arr)
mv[0] = 97
byte_arr

NameError: name 'byte_arr' is not defined

In [165]:
byte_arr

NameError: name 'byte_arr' is not defined

In [166]:
memoryview(byte_arr)[0]

NameError: name 'byte_arr' is not defined

# Operators In Python

In [167]:
'''x==y works when it compares the values of x and y not their memory addresses
but x is y works when both of their memory addresses are same'''

#Python Arithmetic Operators
# Assigning the Variables

x = 15
y = 4
z = 3

x+y

19

In [168]:
x-y

11

In [169]:
x/y

3.75

In [170]:
x*x

225

In [171]:
15*15*15*15

50625

In [172]:
x**y

50625

In [173]:
x / y

3.75

In [174]:
x // y # flooring(point will be removed)

3

In [175]:
import math   #flooring
math.floor(x/y)

3

In [176]:
math.ceil(x/y)    #Round figure of 3.75=4

4

In [177]:
#Python Identity Operators

x = 10
y = 10
x is y

True

In [178]:
x == y     # Comparison operator

True

In [179]:
x = 12345
y = x
z = 12345

In [180]:
x is y

True

In [181]:
x is z    # Here the address of x and z are compared;Upto 3 digits the address will match but after that memory address changes.

False

In [182]:
id(x)

1779634501392

In [183]:
id(y)

1779634501392

In [184]:
id(z)

1779634502128

In [185]:
x1= 159087
y1 = 159087
z1 = y1

In [186]:
x1 is z1

False

In [187]:
z1 is x1    # Comparison between memory address

False

In [188]:
x1 == z1      # Comparison between values

True

In [189]:
x1 is not z1

True

In [190]:
#Membership operator

'''In order to access a member in a sequence----in/not in'''

list1 = [1,2,3,4,5,6,7,8]

1 in list1

True

In [191]:
10 in list1

False

In [192]:
10 not in list1

True

In [193]:
s1 = {1,2,3,4,5}
1 in s1

True

In [194]:
10 not in s1

True

In [195]:
st1 = "Learn data science"
"Data" in st1

False

In [196]:
#Python Bitwise Operator

x = 1010 #10     #yes = 1, No = 0
y = 0101  #5

x & y = 0000
x  y = 1111

SyntaxError: leading zeros in decimal integer literals are not permitted; use an 0o prefix for octal integers (<ipython-input-196-fec7fa5149a0>, line 4)

In [197]:
x = 10
y = 5

x & y

0

In [198]:
x  y

SyntaxError: invalid syntax (<ipython-input-198-4e325ea2d3d7>, line 1)

In [199]:
#Comparison Operators


10 == 10

True

In [200]:
10 > 10

False

In [201]:
10>=5

True

In [202]:
#Python Logical Operators

10>4 and 10<100

True

In [203]:
10>4 or 10<3

True

In [204]:
not(10>4 or 10<3)    #not means opposite

False

In [205]:
#Assignment Operators

In [206]:
x = 10
x += 3

x

13

In [207]:
x-=3
x

10

In [208]:
x*=3
x

30

In [209]:
x = 2
x**=3
x

8

In [210]:
2**3

8

# Python Conditions:if,else,elif

In [ ]:
#If-else statements in python:

x = 50
y = 100

if x>y:
    print('x is greater than y')
else:
    print('y is greater than x')
    print('data science')
    if x != y:                                #Nested if 
        print('Not equal')

In [ ]:
x = input('Enter the value of x: ')
y = input('Enter the value of y: ')

In [ ]:
if x>y:
    print('x is greater than y')     #gap is equal to tab called Indentation
    
else:
    print('y is greater than x')

In [ ]:
#Python Indentation Rules


data = 'Data science'
if data == 'data science':
    print('You will have a great future!')
    
else:
    print('Do not worry!You can shine from anything!')
          
print('Learn data science whole-heartedly')

In [ ]:
x = float(input('Enter your first num: '))
y = float(input('Enter your second num: '))

if x % y == 0:
    print('x is divisible by y')

else:
    print('Not divisible')

In [ ]:
x = float(input('Enter your number: '))
if x % 2 == 0:
    if x % 5 == 0:
        print('x is divisible by both 2 and 5')
    
    else:
        print('x is only divisible by 2')
        
else:
    print('Not divisible')

In [ ]:
#To Import any image 

from IPython.display import Image
Image("electricity.png")

In [ ]:
net_units = float(input('Enter your usage of unit: '))

if net_units <= 100:
    print('You have no charge.Thank you!')

elif net_units > 100 and net_units <= 200:
    y = (net_units - 100) * 5
    print('You bill is',y)
    
else:
    z = (net_units - 200)*10 + 500
    print('Your bill is',z)

In [ ]:
from IPython.display import Image
Image('Assignment1.png')

In [ ]:
# Assignment No:1

len = float(input('Enter the length of a rectangle: '))
breadth = float(input('Enter the breadth of a rectangle: '))

if len == breadth:
    print('Yes, It is a square')
else:
    print('It is not a square')

In [ ]:
# Assignment No:02

num_1 = int(input('Enter 1st Number: '))
num_2 = int(input('Enter 2nd Number: '))
num_3 = int(input('Enter 3rd Number: '))

if (num_1 > num_2)  and  (num_1 > num_3):
    print('num_1 is the largest')

elif (num_2 > num_1)  and (num_2 > num_3):
    print('num_2 is the largest value')
    
else:
    print('num_3 is the largest value')

In [ ]:
num_1 = int(input('Enter 1st Number: '))
num_2 = int(input('Enter 2nd Number: '))
num_3 = int(input('Enter 3rd Number: '))

if (num_1 > num_2)  and  (num_1 > num_3):
    largest = num_1

elif (num_2 > num_1)  and (num_2 > num_3):
    largest = num_2
    
else:
    largest = num_3
    
print('The largest number is', largest)

In [ ]:
Total_class = int(input('Number of total class: '))
Attended = int(input('Number of his/her attended class: '))

percent_of_attendance = (Attended/Total_class) * 100

if percent_of_attendance >= 75:
    print(' Allowed to sit in exam')
    
else:
    print('Not allowed to sit in exam')

In [ ]:
marks = float(input('Enter your marks: '))


if (marks >= 80) and (marks <= 89):
    print('Your grade is: A')
elif (marks >= 60) and (marks <= 79):
    print('Your grade is: B')
elif (marks >= 50) and (marks <= 59):
    print('Your grade is: C')
elif (marks >= 45) and (marks <= 49):
    print('Your grade is: D')
elif (marks >= 25) and (marks <= 44):
    print('Your grade is: E')
elif marks < 25:
    print('Your grade is: F')

else:
    print('Your grade is: A+')

# For Loop

In [ ]:
#Loop is used for any repititive task

data = 'python'

In [ ]:
data[0]

In [ ]:
data[-1]

In [ ]:
# for any_variable_name in data

for x in data:
    print(x)

In [ ]:
for x in data:
    print('x')

In [ ]:
for x in data:
    print(x,'x')

In [ ]:
range(10)      #range starts from 0 to 9

In [ ]:
# OR

for x in range(len(data)):       #Range = length of data
    print(data[x])               #Every item of data will be printed and each item is in x variable so print(data[x])

In [ ]:
len(data)

In [ ]:
for x in range(6):
    print(data[x])

In [ ]:
data = 'I love data science so much'

for x in range(len(data)):
    print(data[x])

In [ ]:
data = 'I love data science so much'
data = data.split()

In [ ]:
data

In [ ]:
for x in range(len(data)):
    print(data[x],x)

In [ ]:
for i in range(10):
    print('Data Science', i)

In [ ]:
for i in range(5,10):      #Range will end like(n-1).If you put last limit 10, then it will run till 9.
    print('Data Science', i)

In [ ]:
for i in range(5,10,2):
    print('data science',i)                          #default increment/decrement = 2
                                         # range(initialization,ending,increment/decrement)

In [ ]:
for i in range(100,50,-10):
         print('data science',i)

In [ ]:
for i in range(100,0,-2):
         print('data science',i)

In [ ]:
n = [2,3,5,66,78,120,67]
sum_1 = 0

for i in n:
    sum_1 = sum_1 + i
    print('The sum is: ', sum_1)
    
print('Overall total: ', sum_1)

In [ ]:
'''If remainder == 0, then the number is even
   If remainder == 1, then the number is odd'''

In [ ]:
from IPython.display import Image
Image('Loop_Practice_Questions.png')

In [ ]:
#Assignment No: 01
#Display numbers from -100 to -10 using for loop.

for i in range(-100,-9):
    print(i, end = '  ')

In [ ]:
# Assignment No: 02
# Write a program to sum all prime numbers within a range 10 to 1000.

start = 10
end = 1000
sum = 0

for i in range(start,end+1):
    for j in range(2,i):
        if (i % j == 0):
            break
            
    else:
        sum = sum + i

print('The sum is: ',sum)

In [ ]:
# Assignment No: 03
# Find the factorial of n!

n = int(input('Enter a number: '))
total = 1

for i in range(n):
    i += 1
    total *= i

print(total)

#  Assignment No: 04 (completed)

In [ ]:
num = 27956240710
y= str(num)

In [ ]:
len(y)

In [ ]:
#Assignment No: 04
#Reverse a given integer number 27956240710


num = 27956240710
rev_num = 0 

for i in range(0, len(str(num))):
    remainder = num % 10
    rev_num = rev_num * 10 + remainder
    num //= 10

print(rev_num)

# While Loop

In [ ]:
# while condition:
#statement of work
    
count = 0 

while (count<5):
    count = count + 1;
    print('Study Mart', count)

In [ ]:
count = 0

while (count<5):
    print('Study Mart', count)
    count = count + 1

In [ ]:
i = 0 

while i<=10:
    print('Study Mart', i)
    i += 1

In [ ]:
i = 0 

while i<=10:
    print('Study Mart', i)
    i += 2

In [ ]:
data = 'python'
len(data)

In [ ]:
data = 'python'
index = 0

while index < len(data):
    print(data[index])
    index += 1

In [ ]:
data = 'I love data science so much'
data = data.split()
index = 0 

while index < len(data):
    print(data[index])
    index += 1

In [ ]:
n = [2,3,5,66,78,120,67]
len(n)

In [ ]:
n = [2,3,5,66,78,120,67]
index = 0 
sum_1 = 0

while index < len(n):
    sum_1 = sum_1 + n[index]
    index += 1
    print('The sum is: ',sum_1)
    
print('The overall sum is: ',sum_1)

In [ ]:
from IPython.display import Image
Image('While_loop.png')

In [ ]:
#Assignment No: 01
#Display numbers from -100 to -10 using while loop.

i=-100

while i < -9:
    print(i, end = '  ')
    i += 1

# Assignment 2 Incompleted

In [ ]:
#Assignment No: 02
# Write a program to sum all prime numbers within range 10 to 1000.

In [ ]:
#Assignment No: 02
# Write a program to check a prime number.


num = int(input('enter a number: '))
i = 2
p = 1 
while (i<num):
    if (num % i == 0):
        p = 0
    i += 1

if p == 0:
    print('Not a prime')
elif p == 1:
    print('prime')

In [ ]:
#Assignment No: 03
# Find the factorial of n.

n = int(input('Enter a number: '))
total = 1

while n>=1:
    total = total * n
    n -= 1 

print(total)

In [ ]:
#Assignment No: 04
# Reverse a given integer number 27956240710

num = 27956240710

while num!= 0:
    remainder = num % 10
    num //= 10          #can be written as (num = num // 10)
    
    print(remainder, end = '')

In [ ]:
OR,

In [ ]:
num = 27956240710
rev_num = 0

while num!= 0:
    remainder = num % 10
    rev_num = rev_num * 10 + remainder
    num //= 10
    
print('The reversed number is: ',rev_num)

# Nested Loop

In [ ]:
#Outer Loop, Inner Loop


n = int(input('Enter the number of rows: ')) 

for i in range(n):
    for j in range(i+1):
        print('#',end = ' ')
    print()

In [ ]:
n = int(input('Enter the number of rows: ')) 

for i in range(n):
    for j in range(n-i):
        print('#',end = ' ')
    print()

In [ ]:
n = int(input('Enter the number of rows: '))

for i in range(n):
    for j in range(n-i-1):
        print(' ', end = ' ')
    for j in range(i+1):
        print('*', end = " ")
    print( )

In [ ]:
n = int(input('Enter the number of rows: '))

for i in range(n):
    for j in range(n-i-1):
        print(' ', end = ' ')
    for j in range(2*i+1):
        print('*',end = ' ')
    print()

In [ ]:
n = int(input('Enter the number of rows: '))

for i in range(n):
    for j in range(n-i-1):
        print(' ', end = ' ')
    for j in range(i+1):
        print('* ',end = '  ')
    print()